# IDE integrations
/.cache/
/.idea/
/.vs/
/.vscode/
/.zed/

# Build files
/bin/
/build/
/cmake*/
/out/
/*.dSYM/
/gltf/library.wasm
compile_commands.json

# Visual Studio (premake generated)
*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# Test files
/data/
/*.log
/perf.data*
